[user]
    name = David McKee
    email = git-author.n4t20@simplelogin.com
[core]
	editor = vim
	autocrlf = input
	excludesfile = /home/david/.gitignore_global

[includeIf "gitdir:~/code/ebscois/"]
    path = ~/.gitconfig-ebscois
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[safe]
	directory = /home/david/Downloads/repotool/repos/content.shared.book-builder
	directory = /home/david/Downloads/repotool/repos/discover.shared.dotnet-api-first-select
	directory = /home/david/Downloads/repotool/repos/discover.shared.dotnetapifirstdemo
	directory = /home/david/Downloads/repotool/repos/discover.shared.novelist-redis-cluster
	directory = /home/david/Downloads/repotool/repos/discover.shared.novelist-select-redis
	directory = /home/david/Downloads/repotool/repos/limited-edition-architectural-reviews
	directory = /home/david/Downloads/repotool/repos/novelist-gha-generated-1
	directory = /home/david/Downloads/repotool/repos/novelist-gha-generated-2
	directory = /home/david/Downloads/repotool/repos/novelist-gha-generated-3
	directory = /home/david/Downloads/repotool/repos/novelist-gha-generated-4
	directory = /home/david/Downloads/repotool/repos/novelist-gha-generated-5
	directory = /home/david/Downloads/repotool/repos/novelist-gha-workflows
	directory = /home/david/Downloads/repotool/repos/novelist.build.jenkins-pipeline-config-validator
	directory = /home/david/Downloads/repotool/repos/novelist.builds.jenkins-pipeline-images
	directory = /home/david/Downloads/repotool/repos/novelist.collections.test-repo
	directory = /home/david/Downloads/repotool/repos/novelist.data-pipeline.specs
	directory = /home/david/Downloads/repotool/repos/novelist.data.acceleratedreaderimport
	directory = /home/david/Downloads/repotool/repos/novelist.data.audiobookimporter
	directory = /home/david/Downloads/repotool/repos/novelist.data.authoritysync
	directory = /home/david/Downloads/repotool/repos/novelist.data.autocompletegenerator
	directory = /home/david/Downloads/repotool/repos/novelist.data.AutoCompletePublisher
	directory = /home/david/Downloads/repotool/repos/novelist.data.external-marc-records-etl
	directory = /home/david/Downloads/repotool/repos/novelist.data.fido
	directory = /home/david/Downloads/repotool/repos/novelist.data.goodreadscacher
	directory = /home/david/Downloads/repotool/repos/novelist.data.IngramRecordRetriever
	directory = /home/david/Downloads/repotool/repos/novelist.data.ListAndArticlesExporter
	directory = /home/david/Downloads/repotool/repos/novelist.data.novelistselect.usageetl
	directory = /home/david/Downloads/repotool/repos/novelist.data.novelistselect.usagerepository
	directory = /home/david/Downloads/repotool/repos/novelist.data.PipelineEnrichmentExport
	directory = /home/david/Downloads/repotool/repos/novelist.data.PolarisPipelineExtraction
	directory = /home/david/Downloads/repotool/repos/novelist.data.totalmerge
	directory = /home/david/Downloads/repotool/repos/novelist.data.totalmerge-royalties-updater
	directory = /home/david/Downloads/repotool/repos/novelist.db.specs
	directory = /home/david/Downloads/repotool/repos/novelist.docs.gettyimagedownloader
	directory = /home/david/Downloads/repotool/repos/novelist.documentation.novelist-select-tester
	directory = /home/david/Downloads/repotool/repos/novelist.documentation.novum-dev-guide
	directory = /home/david/Downloads/repotool/repos/novelist.experimental.libraryaware-web
	directory = /home/david/Downloads/repotool/repos/novelist.hackathon.canvaapp
	directory = /home/david/Downloads/repotool/repos/novelist.hackathon.cdk
	directory = /home/david/Downloads/repotool/repos/novelist.internal.abehsampleimporter
	directory = /home/david/Downloads/repotool/repos/novelist.internal.activenltitleupdater
	directory = /home/david/Downloads/repotool/repos/novelist.internal.adept
	directory = /home/david/Downloads/repotool/repos/novelist.internal.adeptchangelogprocessor
	directory = /home/david/Downloads/repotool/repos/novelist.internal.adeptinvoice
	directory = /home/david/Downloads/repotool/repos/novelist.internal.adeptupdate
	directory = /home/david/Downloads/repotool/repos/novelist.internal.advancelistexporttool
	directory = /home/david/Downloads/repotool/repos/novelist.internal.audiofilereviewimporter
	directory = /home/david/Downloads/repotool/repos/novelist.internal.authoritybackfill
	directory = /home/david/Downloads/repotool/repos/novelist.internal.baktaycountsubfields
	directory = /home/david/Downloads/repotool/repos/novelist.internal.baktaysearcher
	directory = /home/david/Downloads/repotool/repos/novelist.internal.bonsai
	directory = /home/david/Downloads/repotool/repos/novelist.internal.bookjacketprocessor
	directory = /home/david/Downloads/repotool/repos/novelist.internal.booksheldchecker
	directory = /home/david/Downloads/repotool/repos/novelist.internal.bookshelfrecommendationanalyzer
	directory = /home/david/Downloads/repotool/repos/novelist.internal.btmarcgenerator
	directory = /home/david/Downloads/repotool/repos/novelist.internal.buildfiletomarcxmlconverter
	directory = /home/david/Downloads/repotool/repos/novelist.internal.buildview
	directory = /home/david/Downloads/repotool/repos/novelist.internal.ccp-test-mapping-runner
	directory = /home/david/Downloads/repotool/repos/novelist.internal.chomeharreporter
	directory = /home/david/Downloads/repotool/repos/novelist.internal.clearchangelog
	directory = /home/david/Downloads/repotool/repos/novelist.internal.collections-cleanup
	directory = /home/david/Downloads/repotool/repos/novelist.internal.core-collections-forms
	directory = /home/david/Downloads/repotool/repos/novelist.internal.development.guidelines
	directory = /home/david/Downloads/repotool/repos/novelist.internal.dlevelcacher
	directory = /home/david/Downloads/repotool/repos/novelist.internal.domain-dns
	directory = /home/david/Downloads/repotool/repos/novelist.internal.ebookisbnimporter
	directory = /home/david/Downloads/repotool/repos/novelist.internal.eis.pipelinelibrary
	directory = /home/david/Downloads/repotool/repos/novelist.internal.feedbackemailprocessor
	directory = /home/david/Downloads/repotool/repos/novelist.internal.guidelines
	directory = /home/david/Downloads/repotool/repos/novelist.internal.jenkinspipelinelibrary
	directory = /home/david/Downloads/repotool/repos/novelist.internal.kdh-forms
	directory = /home/david/Downloads/repotool/repos/novelist.internal.kfh-forms
	directory = /home/david/Downloads/repotool/repos/novelist.internal.libraryawaredocumenthtmlqueries
	directory = /home/david/Downloads/repotool/repos/novelist.internal.linkeddataexport
	directory = /home/david/Downloads/repotool/repos/novelist.internal.marcfielddumper
	directory = /home/david/Downloads/repotool/repos/novelist.internal.marcfromlsc
	directory = /home/david/Downloads/repotool/repos/novelist.internal.marcutils
	directory = /home/david/Downloads/repotool/repos/novelist.internal.marcviewer
	directory = /home/david/Downloads/repotool/repos/novelist.internal.mergeoutputchangelogprocessor
	directory = /home/david/Downloads/repotool/repos/novelist.internal.migrationrunner
	directory = /home/david/Downloads/repotool/repos/novelist.internal.nimble
	directory = /home/david/Downloads/repotool/repos/novelist.internal.novdb
	directory = /home/david/Downloads/repotool/repos/novelist.internal.novdbextensions
	directory = /home/david/Downloads/repotool/repos/novelist.internal.novelist-database-forms
	directory = /home/david/Downloads/repotool/repos/novelist.internal.novelistselect.aurorapostgres
	directory = /home/david/Downloads/repotool/repos/novelist.internal.novlinkeddataconverters
	directory = /home/david/Downloads/repotool/repos/novelist.internal.novlog
	directory = /home/david/Downloads/repotool/repos/novelist.internal.novpolaris
	directory = /home/david/Downloads/repotool/repos/novelist.internal.novselectisbntool
	directory = /home/david/Downloads/repotool/repos/novelist.internal.novselectstats
	directory = /home/david/Downloads/repotool/repos/novelist.internal.novselectwidgetupgrader
	directory = /home/david/Downloads/repotool/repos/novelist.internal.novutils
	directory = /home/david/Downloads/repotool/repos/novelist.internal.perl
	directory = /home/david/Downloads/repotool/repos/novelist.internal.polaristonovelistselectetl
	directory = /home/david/Downloads/repotool/repos/novelist.internal.postman
	directory = /home/david/Downloads/repotool/repos/novelist.internal.queue
	directory = /home/david/Downloads/repotool/repos/novelist.internal.recommendationcachechangelogprocessor
	directory = /home/david/Downloads/repotool/repos/novelist.internal.recommendationcore
	directory = /home/david/Downloads/repotool/repos/novelist.internal.recommendationcoreconfigutility
	directory = /home/david/Downloads/repotool/repos/novelist.internal.recommendationcoretester
	directory = /home/david/Downloads/repotool/repos/novelist.internal.recommendations-tester
	directory = /home/david/Downloads/repotool/repos/novelist.internal.reports
	directory = /home/david/Downloads/repotool/repos/novelist.internal.scripts
	directory = /home/david/Downloads/repotool/repos/novelist.internal.searchservice.adapter
	directory = /home/david/Downloads/repotool/repos/novelist.internal.sql-based-alerts
	directory = /home/david/Downloads/repotool/repos/novelist.internal.tablemanagementsite
	directory = /home/david/Downloads/repotool/repos/novelist.internal.tidsidmap
	directory = /home/david/Downloads/repotool/repos/novelist.internal.txnlogscraper
	directory = /home/david/Downloads/repotool/repos/novelist.internal.unofficial-developer-documentation
	directory = /home/david/Downloads/repotool/repos/novelist.internal.updateisbnmap
	directory = /home/david/Downloads/repotool/repos/novelist.internal.webreferencechangelogprocessor
	directory = /home/david/Downloads/repotool/repos/novelist.internal.webreferenceschecker
	directory = /home/david/Downloads/repotool/repos/novelist.library.aws-utilities
	directory = /home/david/Downloads/repotool/repos/novelist.library.collectionautomation
	directory = /home/david/Downloads/repotool/repos/novelist.library.contracts.netstandard.stripoGateway
	directory = /home/david/Downloads/repotool/repos/novelist.library.eadmin
	directory = /home/david/Downloads/repotool/repos/novelist.library.feature-experimentation
	directory = /home/david/Downloads/repotool/repos/novelist.library.html2image-lambda
	directory = /home/david/Downloads/repotool/repos/novelist.library.html2pdf-java-layer
	directory = /home/david/Downloads/repotool/repos/novelist.library.html2pdf-lambda
	directory = /home/david/Downloads/repotool/repos/novelist.library.isbn
	directory = /home/david/Downloads/repotool/repos/novelist.library.kafkautils
	directory = /home/david/Downloads/repotool/repos/novelist.library.lib-titledb
	directory = /home/david/Downloads/repotool/repos/novelist.library.marc
	directory = /home/david/Downloads/repotool/repos/novelist.library.multiplerecordsextensions
	directory = /home/david/Downloads/repotool/repos/novelist.library.netstandard.amplitudelogging
	directory = /home/david/Downloads/repotool/repos/novelist.library.novelist-mock-data
	directory = /home/david/Downloads/repotool/repos/novelist.library.novelist-ui-components
	directory = /home/david/Downloads/repotool/repos/novelist.library.novholdings
	directory = /home/david/Downloads/repotool/repos/novelist.library.novum-novella-ui-components
	directory = /home/david/Downloads/repotool/repos/NoveList.library.Polaris
	directory = /home/david/Downloads/repotool/repos/novelist.library.productCodeUtils
	directory = /home/david/Downloads/repotool/repos/novelist.library.recommendations
	directory = /home/david/Downloads/repotool/repos/novelist.library.s3utils
	directory = /home/david/Downloads/repotool/repos/novelist.library.search
	directory = /home/david/Downloads/repotool/repos/novelist.library.sqsutils
	directory = /home/david/Downloads/repotool/repos/novelist.library.strategicpipelinegateway
	directory = /home/david/Downloads/repotool/repos/novelist.library.stripoextensions
	directory = /home/david/Downloads/repotool/repos/novelist.library.xmlutils
	directory = /home/david/Downloads/repotool/repos/novelist.production.emaileditor
	directory = /home/david/Downloads/repotool/repos/novelist.production.freeformeditor
	directory = /home/david/Downloads/repotool/repos/novelist.production.libraryaware
	directory = /home/david/Downloads/repotool/repos/novelist.production.libraryaware-ui
	directory = /home/david/Downloads/repotool/repos/novelist.production.libraryaware-web
	directory = /home/david/Downloads/repotool/repos/novelist.production.novelist-select-ui
	directory = /home/david/Downloads/repotool/repos/novelist.production.novelistauth
	directory = /home/david/Downloads/repotool/repos/novelist.production.novelistdashboard
	directory = /home/david/Downloads/repotool/repos/novelist.production.novelistdashboard.api
	directory = /home/david/Downloads/repotool/repos/novelist.production.novelistselect
	directory = /home/david/Downloads/repotool/repos/novelist.production.ontheshelf
	directory = /home/david/Downloads/repotool/repos/novelist.production.rabbitmq-nodes
	directory = /home/david/Downloads/repotool/repos/novelist.production.services.html-converter
	directory = /home/david/Downloads/repotool/repos/novelist.production.vendordatareceiver
	directory = /home/david/Downloads/repotool/repos/novelist.shared.ccp-neh
	directory = /home/david/Downloads/repotool/repos/novelist.shared.ccp-reprocess-trigger
	directory = /home/david/Downloads/repotool/repos/novelist.shared.normalization
	directory = /home/david/Downloads/repotool/repos/novelist.totalmerge.awsconnector
	directory = /home/david/Downloads/repotool/repos/platform.catalog.cluster-config
	directory = /home/david/Downloads/repotool/repos/platform.catalog.gateway-routes
	directory = /home/david/Downloads/repotool/repos/platform.infrastructure.atlantis-new-relic
	directory = /home/david/Downloads/repotool/repos/platform.infrastructure.medusa
	directory = /home/david/Downloads/repotool/repos/platform.libraries.openapigenerator-netcore
	directory = /home/david/Downloads/repotool/repos/platform.shared.api-first-bsolovij
	directory = /home/david/Downloads/repotool/repos/platform.shared.apifirstwiptest
	directory = /home/david/Downloads/repotool/repos/platform.shared.bigtext-api-resources
	directory = /home/david/Downloads/repotool/repos/platform.shared.bookjacket-image-resolver
	directory = /home/david/Downloads/repotool/repos/platform.shared.ccp-eks-dataset-infrastructure
	directory = /home/david/Downloads/repotool/repos/platform.shared.datafeedmanager
	directory = /home/david/Downloads/repotool/repos/platform.shared.datapipeline-configs
	directory = /home/david/Downloads/repotool/repos/platform.shared.datapipeline-configuration-management
	directory = /home/david/Downloads/repotool/repos/platform.shared.datapipeline-infrastructure
	directory = /home/david/Downloads/repotool/repos/platform.shared.datapipeline-mappings
	directory = /home/david/Downloads/repotool/repos/platform.shared.dotnet-apifirst-cookiecutter
	directory = /home/david/Downloads/repotool/repos/platform.shared.email-event-stream-handler
	directory = /home/david/Downloads/repotool/repos/platform.shared.gateways
	directory = /home/david/Downloads/repotool/repos/platform.shared.hackathon-pi32-a11y
	directory = /home/david/Downloads/repotool/repos/platform.shared.hackathon-pi32i6-accessibility
	directory = /home/david/Downloads/repotool/repos/platform.shared.html2image-resources
	directory = /home/david/Downloads/repotool/repos/platform.shared.html2pdf-resources
	directory = /home/david/Downloads/repotool/repos/platform.shared.image-resizer
	directory = /home/david/Downloads/repotool/repos/platform.shared.image-resizer-cw-alarms
	directory = /home/david/Downloads/repotool/repos/platform.shared.ingram-sftp-connector
	directory = /home/david/Downloads/repotool/repos/platform.shared.ingram-transfer-message-lambda
	directory = /home/david/Downloads/repotool/repos/platform.shared.libraryaware-awsmq-resources
	directory = /home/david/Downloads/repotool/repos/platform.shared.libraryaware-bigtext-store
	directory = /home/david/Downloads/repotool/repos/platform.shared.libraryaware-cloudfront
	directory = /home/david/Downloads/repotool/repos/platform.shared.libraryaware-instagram
	directory = /home/david/Downloads/repotool/repos/platform.shared.libraryaware-instagram-resources
	directory = /home/david/Downloads/repotool/repos/platform.shared.libraryaware-kms-key
	directory = /home/david/Downloads/repotool/repos/platform.shared.libraryaware-metricdata-resources
	directory = /home/david/Downloads/repotool/repos/platform.shared.libraryaware-web-cdn
	directory = /home/david/Downloads/repotool/repos/platform.shared.ml.novelist_experiments
	directory = /home/david/Downloads/repotool/repos/platform.shared.nov-ml-recs-api-deployment
	directory = /home/david/Downloads/repotool/repos/platform.shared.nov-multifunc-poc
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-agst-predict-api
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-agst-predict-api-docker
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-api
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-apigateway-connectivity
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-biblio-etl-resources
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-ccp-ingram-sftp
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-collections-api
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-collections-automation-ecs-task
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-collections-automation-image
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-collections-lambda
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-collections-s3
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-collections-sns
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-customer-config-cache
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-customer-configuration-api
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-dashboard-api-gateway
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-dashboard-s3
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-data-builds
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-datapipeline-e2e-tests
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-ecs-clusters
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-edge
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-email-event-management
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-email-pipeline-resources
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-email-pipeline-send-lambda
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-goodreads-redis
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-ml-recommender-api-docker
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-polaris-api-backup
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-polaris-api-resources-deleteme
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-recapi-resources
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-recommendations-api
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-search-api
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-select-db-collections
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-select-deploy-env
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-select-kms-key
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-select-postgres
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-select-s3-buckets
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-shared-ssm-parameters
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-storybooks-s3
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-synthetics
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-ui
	directory = /home/david/Downloads/repotool/repos/platform.shared.novelist-usage-db
	directory = /home/david/Downloads/repotool/repos/platform.shared.novum-novella-api-gateway
	directory = /home/david/Downloads/repotool/repos/platform.shared.novum-novella-cache
	directory = /home/david/Downloads/repotool/repos/platform.shared.novum-novella-select
	directory = /home/david/Downloads/repotool/repos/platform.shared.novum-novella-ui-aws-stack
	directory = /home/david/Downloads/repotool/repos/platform.shared.novumnovellaselect
	directory = /home/david/Downloads/repotool/repos/platform.shared.pi33-mlai-assisted-dev-example
	directory = /home/david/Downloads/repotool/repos/platform.shared.pupeteer-image-generator-poc
	directory = /home/david/Downloads/repotool/repos/platform.shared.stripo-editor-images-s3
	directory = /home/david/Downloads/repotool/repos/platform.shared.stripo-gateway
	directory = /home/david/Downloads/repotool/repos/platform.shared.stripo-images-s3-readonly
	directory = /home/david/Downloads/repotool/repos/platform.shared.stripo-lambda-resources
	directory = /home/david/Downloads/repotool/repos/platform.shared.stripo-lambdas
	directory = /home/david/Downloads/repotool/repos/researcher.shared.personalization-ui
	directory = /home/david/Downloads/repotool/repos/researcher.shared.researcher-api
	directory = /home/david/Downloads/repotool/repos/researcher.shared.researcher-config-aggregator
	directory = /home/david/Downloads/repotool/repos/researcher.shared.search-ui
	directory = /home/david/Downloads/repotool/repos/researcher.shared.search2-edge
	directory = /home/david/Downloads/repotool/repos/resourcemanagement.shared.nagios-sample-playbooks
	directory = /home/david/Downloads/repotool/repos/resourcemanagement.shared.nagios_toggle_monitoring
	directory = /home/david/Downloads/repotool/repos/training.refarch.dotnet-serverless-hello-world
	directory = /home/david/Downloads/repotool/repos/training.refarch.novelistholdingstestgateway
