# please sort entries

.aws/
.bash_*
.cache
.claude*
.config/.gsd-keyboard.settings-ported
.config/abrt
.config/autostart
.config/Code
.config/copyq
.config/dconf
.config/discord/
.config/evolution
.config/flameshot
.config/freerdp
.config/gnome-boxes/
.config/gnome-initial-setup-done
.config/gnome-session
.config/ghb/
.config/gitmon/
.config/goa-*
.config/google-chrome*
.config/ibus
.config/libvirt/
.config/lxqt
.config/nordvpn
.config/obsidian/
.config/org.gnome.*
.config/pulse
.config/qBittorrent/*
.config/QtProject.conf
.config/remmina
.config/Thunar
.config/transmission/
.config/vlc/
.config/user-dirs*
.config/vscode-sqltools/*
.config/xarchiver
.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
.config/Yubico/
.config/zoom.conf
.config/zoomus.conf
.docker
.dotnet
.guard/
.icons
.local
.mozilla
.npm*
.ollama
.pki
.pyenv/
.rest-client/
.smbcred*
.ssh
.steam*
.SynologyDrive
.terraform.d/
.vim
.viminfo
.vscode
.zoom/
*.bak*
*.swp
code/
Desktop
development
Documents
Downloads
Music
Pictures
Public
SynologyDrive
temp/
Templates
Videos
wallpaper.jpg
.ubuntu24.04--2.draft.txt

# allow specific files

!.config/qBittorrent/qBittorrent.conf
!.vscode/argv.json