# please sort entries

.ansible/
.aws/
.bash_*
.bashrc.d/
.cache
.cargo/
.claude*
.codex/
.config/.gsd-keyboard.settings-ported
.config/abrt
.config/audacity
.config/autostart
.config/Code
.config/unity3d/
.config/copyq
.copilot/
.config/dconf
.config/discord/
.config/evolution
.config/flameshot
.config/freerdp
.config/gnome-boxes/
.config/gnome-initial-setup-done
.config/gnome-session
.config/ghb/
.config/gitmon/
.config/goa-*
.config/google-chrome*
.config/ibus
.config/kdiff3rc
.config/libvirt/
.config/lxqt
.config/mozilla
.config/nordvpn
.config/obsidian/
.config/org.gnome.*
.config/pulse
.config/qBittorrent/*
.config/QtProject.conf
.config/remmina
.config/rncbc.org/
.config/Thunar
.config/transmission/
.config/vlc/
.config/user-dirs*
.config/uv/
.config/vscode-sqltools/*
.config/xarchiver
.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
.config/Yubico/
.config/zoom.conf
.config/zoomus.conf
.config/systemd/user/default.target.wants/
.config/systemd/user/pipewire-session-manager.service
.config/systemd/user/pipewire.service.wants/
.config/systemd/user/sockets.target.wants/
.pulse-cookie
.docker
.dropbox/
.dropbox-dist/
Dropbox/
.dotnet
.guard/
.icons
.lesshst
.local
.mozilla
.npm*
.nvm/
.ollama
.pki
.pyenv/
.rest-client/
.smbcred*
.ssh
.steam*
.SynologyDrive
.terraform.d/
.vim
.viminfo
.wget-hsts
.vscode
.zoom/
*.bak*
*.swp
code/
Desktop
development
Documents
Downloads
Music
Pictures
Public
SynologyDrive
temp/
Templates
Videos
wallpaper.jpg
.ubuntu24.04--2.draft.txt
.zcompdump
.zsh_history

# allow specific files

!.config/qBittorrent/qBittorrent.conf
!.vscode/argv.json

