# please sort entries

!.ssh/config
!.vscode/argv.json
.bash_*
.cache
.config/.gsd-keyboard.settings-ported
.config/abrt
.config/autostart
.config/Code
.config/copyq
.config/dconf
.config/evolution
.config/flameshot
.config/freerdp
.config/gnome-initial-setup-done
.config/gnome-session
.config/goa-*
.config/google-chrome*
.config/ibus
.config/lxqt
.config/org.gnome.*
.config/pulse
.config/remmina
.config/Thunar
.config/user-dirs*
.config/xarchiver
.dotnet
.local
.mozilla
.ollama
.pki
.smbcredentials
.ssh
.vim
.viminfo
.vscode
Desktop
Documents
Downloads
Music
Pictures
Public
Templates
Videos
*.bak*