* {
    font-family: "chivo";
    font-size: 12px;
    min-height: 12px;
    padding: 1px 2px;
    margin: 1px;
    background-color: #2e2e2e;
}

#waybar {
    min-height: 20px;
    background: black;
    color: #ffffff;
}

#workspaces button {
    background: transparent;
    color: #ffffff;
}

#workspaces button.focused {
    border: 1px solid black;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray {
    color: #ffffff;
    padding: 0 8px;
    border: 1px solid black;
}

#clock {
    background: transparent;
    font-family: "bedstead";
    border: none;
}

#network.wifi,
#network.ethernet {
    color: #4caf50;
}

#network.linked {
    color: #ff9800;
}

#network.disconnected {
    color: #f44336;
}

#tray {
    background: transparent;
    border: none;
}